* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-title {
    text-align: center;
}

.recorder-container {
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 10%;
    font-size: 24px;
}

.recorder-container label {
    cursor: pointer;
}

.notRec{
    cursor: pointer;
    margin-left: 3%;
    width: 25px;
	height: 25px;
	border: none;
	border-radius: 50%;
	outline: none;
	background-color: darkred;
}

.Rec{
    cursor: pointer;
    margin-left: 3%;
    width: 25px;
	height: 25px;
	font-size: 0;
	background-color: red;
	border: none;
	border-radius: 50%;
	outline: none;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

.play-recording-button {
    border: none;
    font-size: 20px;
    margin-top: 2%;
    width: 10%;
    margin-left: 10%;
    cursor: pointer;
}

.start-stop-container {
    display: flex;
    justify-content: center;
}

.start-stop-container button{
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
}

.start-stop-container button:hover{
    width: 110%;
    height: 110%;
    background-color: #00bcdd;
}

.button-container {
    width: 10%;
    height: 2rem;
    margin: 1%;
}

.button {
    width: 100%;
    height: 100%;
}

/* The gallery of pads */
.pads-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 50%;
    height: 20rem;
}
/* Each individual pad's parent div */
.pad-container {
    display: flex;
    justify-content: center;
    padding: 1%;
    width: 33%;
}
/* Each individual pad */
.pad {
    position:relative;
    width: 100%;
    font-size: 20px;
    margin: 3%;
    border: 2px solid #00bcdd;
    color: rgb(16, 24, 50);
    cursor: pointer;
    box-shadow: -0.7em 0.7em .15em rgb(0,0,0,.3); 
    transition: 0.2s ease;
 }

  .pad:before,
  .pad:after {
    border: 3px #00bcdd solid;
    content: '';
    display: block;
    position: absolute;
  }

  .pad:before {
    border-image: linear-gradient(45deg, #00bcdd 0%, #00bcdd 100%);
    border-image-slice: 1 1 0 1;
    left: -0.59em; top: 0.15em;
    width: 0.3em;
    height: 96%;
    transform: skewY(-45deg);
    background-image: linear-gradient(45deg, #00bcdd 0%, #00bcdd 100%);
  }

  .pad:after {
    border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
    border-image-slice: 1 1 1 0;
    bottom: -0.61em; right: 0.29rem;
    width: 98%;
    height: 0.2em;
    transform: skewX(-45deg);
    background-image:linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  }

  .pad:hover {
    color: #0e79b2;
  }

  .selectedPad {
    position:relative;
    width: 100%;
    font-size: 20px;
    margin: 3%;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    background-color: #00bcdd;
    background-image:linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
    border-image: linear-gradient(45deg, #00bcdd20 0%, #ff00ff 100%);
    color: white;
    cursor: pointer;
    transform: translate(-0.25em,0.25em);
    transition: 0.3s ease;
 }

  .selectedPad:before,
  .selectedPad:after {
    border: 3px #00bcdd solid;
    content: '';
    display: block;
    position: absolute;
  }

  .selectedPad:before {
    border-image: linear-gradient(45deg, #00bcdd 0%, #00bcdd 100%);
    border-image-slice: 1 1 0 1;
    left: -0.59em; top: 0.15em;
    width: 0.3em;
    height: 96%;
    transform: skewY(-45deg);
    background-image: linear-gradient(45deg, #00bcdd 0%, #00bcdd 100%);
  }

  .selectedPad:after {
    border-image: linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
    border-image-slice: 1 1 1 0;
    bottom: -0.61em; right: 0.29rem;
    width: 98%;
    height: 0.2em;
    transform: skewX(-45deg);
    background-image:linear-gradient(45deg, #00bcdd 0%, #ff00ff 100%);
  }

  .selectedPad:hover {
    color: #0e79b2;
  }

  .loop-timer {
    margin: auto;
    margin-top: 2%;
    width: 20%;
    height: 1rem;
    background-color: lightgray;
}

.loop-timer-active {
    margin: auto;
    margin-top: 2%;
    width: 20%;
    height: 1rem;
    background-color: lightgray;
        background-image: linear-gradient(90deg, #ff00ff 3%, lightgray 1%);
        animation: slidebg 8s linear infinite;
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
  } 


@media (max-width: 800px) {

     .button-container{
         width: 25%;
     }
     .start-stop-container button:hover {
         width: 100%;
         height: 100%;
     }

    .pads-container{
       width: 90%;
       margin-top: 10%;
    }

    .pad {
        margin: 7.5%;
    }

    .selectedPad {
        margin: 7.5%;
    }

    .recorder-and-play-container {
        display: flex;
        align-items: center;
    }

    .recorder-container {
        width: 100%;
        margin-left: 1%;
        padding: 5% 0 2.5% 0;
    }

    .play-recording-button {
        background-color: white;
        height: 1.5rem;
        margin-right: 5%;
        width: 25%;
    }

    .loop-timer {
        margin-top: 10%;
    }

    .loop-timer-active {
        margin-top: 3%;
        background-image: linear-gradient(90deg, #ff00ff 6%, lightgray 3%);
    }
}  